*{
    margin: 0;
    padding: 0;
    
}
header{
    
    display: flex;
   background-image: linear-gradient(to right, #ec1f1f, #e07777);
    color: white;
    padding: 10px;
    margin-bottom: 10px;
        
}
header ul{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
header ul li{
    flex: 1;
    text-align: center;
    padding: 10px;
   margin-top: 0;
       margin-bottom: 0;   

}
header ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}
header ul li a:hover{
   color: white;
    background-color: #8a1414;
    padding: 20px;
    border-radius: 5px;
    transition: background-color 0.8s ease;
}
body{
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(to right , #ec1f1f, #e07777);
    color: #fff;
    padding: 20px;
}

main{
    width: auto;
    height: auto;

    background-color: #fff;
    color: black;
    border-radius: 5px;
    box-shadow: 5px 10px #ec1f1f4d;
    margin: auto;
    padding: 10px;
    justify-content: center;
}
main h1{
    color: #ec1f1f;
    text-align: center;
    margin-bottom: 10px;
}
main p{
    text-align: justify;
    text-indent: 10px;

}
h2{
    color: #8a1414;
    margin-top: 10px;
    margin-bottom: 10px;
}